/*  your css code here. If applicable */
.webpage{
	width: 600px;
	background-color:#f8f8f8;
	box-shadow: 0px 1px 10px lightgrey;
	font-family:arial;
	align-content:center;
}
.book-library{
	align-content:center;
	position:relative;
}
.heading{
	text-align: center;
	padding:6px;
}

img{
	width:180px;
}

.bookimage{
	text-align: center;
}

.book{
	border-top:20px solid white;
	padding:20px;
}

.author{
	color:#777777;
	margin:0px;
}

.bookName{
	margin:0px;
}

.price{
	width:100%;
	background-color: #2ecc71;
	color:white;
	border:0px;
	border-radius:5px;
	padding:10px;
}